{% extends 'layout.njk' %}

{% block head %} 
  <title> Gymuscles | Membros </title>
{% endblock %}

{% block content %} 

<div class="card">

  <div class="newMember">
    <a href="/members/create">Novo</a>
  </div>

  <table width="100%">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Sexo</th>
        <th>Idade</th>
        <th>Área</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>
          <td>
            <span style="background-image: url ('{{member.avatar_url}}')"></span>
            {{member.name}}
          </td>
          <td>{{member.height}}</td>
          <td>{{member.weight}}</td>
          <td>{{member.gender}}</td>
          <td>{{member.age}}</td>
          <td>{{member.services}}</td>
          <td><a href="/members/{{member.id}}">Ver</a></td>
        </tr>
      {% endfor %}
    </tbody>
  
  </table>

</div>

{% endblock %}